#sobre {
  height: 56vh;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.356);
}

#sobre div {
  max-width: 1200px;
  margin: auto;
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#sobre div:nth-child(2) {
  width: 500px;
  flex-direction: column;
}

#sobre p {
  text-align: justify;
  line-height: 22px;
  word-spacing: -0.2ch;
}
